<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mapsmvcwebapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mapsmvcwebapp.styles.css" asp-append-version="true" />
    @if (User.Identity.IsAuthenticated)
    {
    // Add references to the Azure Maps Map control JavaScript and CSS files. -->
        <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css"
        type="text/css" />
        <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

        // Add a reference to the Azure Maps Services Module JavaScript file. -->
        <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>
        <script src="/js/map.js"></script>
        <link rel="stylesheet" href="/css/map.css" />
    }
</head>

<body>
    <div>
        
    </div>
    <div class="sidebar bg-dark">
        <ul>
            <li>
                <a class="active p-3 mb-2 bg-gradient-success text-white" asp-area="" asp-controller="Home" asp-action="Index">mapsmvcwebapp</a>
            </li>
            <li>
                <a class="p-3 mb-2 bg-gradient-success text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            @if (!User.Identity.IsAuthenticated)
            {
            <li>
                <a class="p-3 mb-2 bg-gradient-success text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
            </li>
            <li>
                <a class="p-3 mb-2 bg-gradient-success text-white"asp-area="" asp-controller="Home" asp-action="Signup">Signup</a>
            </li>
            }
             @if (User.Identity.IsAuthenticated)
            {
             <li>
                <a class="p-3 mb-2 bg-gradient-success text-white"asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
            </li>
            }
        </ul>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration
    <script> const commonSettings = @Json.Serialize(@Configuration.GetSection("JsSettings").GetSection("key").Value)</script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
