 /* The side navigation menu */
 .sidebar[b-2smhu84eor] {
    margin: 0;
    padding: 5px;
    padding-right: 0px;
    width: 200px;
    background-color: #161616;
    position: fixed;
    height: 100%;    
    color: yellow;
  }

a[b-2smhu84eor] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

  .sidebar ul li[b-2smhu84eor] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(252, 252, 252);
    list-style: none;
  }
  
  /* Sidebar links */
  .sidebar a[b-2smhu84eor] {
    display: block;
    padding-left: 0px;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active[b-2smhu84eor] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active)[b-2smhu84eor] {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.container[b-2smhu84eor] {
    margin-left: 184px;
    padding: 0px 16px;
    height: 620px;
    width: 1020px;
  }

  main[b-2smhu84eor]{
    width: 100%;
    height: 100%;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar[b-2smhu84eor] {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a[b-2smhu84eor] {float: left;}
    div.content[b-2smhu84eor] {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a[b-2smhu84eor] {
      text-align: center;
      float: none;
    }
  } 