@*

*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
<div class="landing_page">
     <form action="/map/" method="post">
            <div class="d-flex form-inputs">
                <input class="form-control" type="text" name="search" placeholder="Search your destination...">
                <i class="bx bx-search"></i>
            </div>
    </form>
</div>
</div>

 