@*

*@
@{

    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}

<h1 class="h3 mb-3 fw-normal">Login</h1>
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding: 20px;">@error</h2>
}

<main class="form-signin">
    <form action="/login?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
        <div class="form-floating">
            <input type="text" class="form-control" name="Username" id="floatingInput" placeholder="username">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="submit" class="w-100 btn btn-lg btn-primary" value="login">
        </div>
    </form>
    </div>
</main>

@* <main class="form-signin">
    <form>
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
    <label>
    <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
    </main> *@

@* <style>
    .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }

    @media(min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
    }
    </style> *@
