@*

*@
@{
    var destination = ViewBag.destination as string;
}
<div class="wrapper">

    <div id="myMap"></div>
    
</div>

    <script>

        navigator.geolocation.getCurrentPosition(success);

        function success(pos) {
            InitLocation(pos);
            GetMap('@destination');
        }

    </script>
